.logo{
	max-width:300px;
}

.plus{
	max-width:20px;
	margin:10px;
	margin-left:20px;
	
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff; 
    font-size: 1.1em;
    !important
}

.pt-5, .py-5 {
    padding-top: 10rem!important;
}

.page{
	
	margin-top:100px;
	
}


.map__image path{

  fill:#3D6ABE;

  stroke: #1E357D;

  stroke-width:2px;
}
.map__image path:hover{

  fill:#fff;

  
}
.map__image .is-active path{

  fill:#fff;

  
}

.map__list a{
  color:inherit;

  text-decoration: none;

  tansition: color 0.3s;
}

.map__list a.is-active{
  color:black;
  
  font-weight:bold;
  
  text-decoration:underline;
}

.text_home{
	text-align:center;
}

#titre_page{
	
	margin-top:100px;
	
}
.haut_page{
	
	border-bottom:solid;
	margin-bottom:50px;
}

#category{
	height:40px;
	border:solid 1px black;
	background-color:#fff;
}

.inputAddAnnonce{
	height:40px;
	border:solid 1px black;
	background-color:#fff;
}

.inputTexarea{
	height:200px;
	border:solid 1px black;
	background-color:#fff;
	
}
#preview{
	max-width:200px;
}
.image-upload>input {
  display: none;
}

.image-upload img{
	max-width:100px;
	cursor: pointer;
}
.image-upload img:hover{
	max-width:110px;
}
.map_annonce{
	padding:20px;
	border:solid 0.5px;
	
}

.addAnnonce .card-header{
	background-color:#343a40;
	color:#fff;
}

#prix_annonce{
	color:#feea2d;
}
.description{
	border-top:solid 1px #cad1d9;
	border-bottom:solid 1px #cad1d9;
	
}
.card-img-avatar{
	max-width: 100%;
	height: auto;
	
}

#image_annonce{
	max-width: 100%;
	height: auto;
	
	
}
.button_numero_message{
	color:#fff
}


